# Ignorar dependências
**/node_modules
**/package-lock.json

# Ignorar arquivos de ambiente
**/.env
**/.env.*
!**/.env.example  # Exceção para manter arquivos de exemplo

# Ignorar pastas de build e cache
**/dist
**/build
**/.cache

# Ignorar configurações do editor
.vscode/
.idea/

# Ignorar arquivos de log
**/*.log
**/logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos TypeScript gerados
**/*.tsbuildinfo